{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      <h2>View Users</h2>  
      <div class="section-content">
        

        {% for user in names  %}
        <a href='/delete-user/{{ user.user_id}}'>
    
        {{ user.first_name }}
        </a>
        {{ user.age }}

        <br>
        <br>

        {% endfor %}
      <div class="section-content">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/add-user">

          Add users

        </a>
      </div>

      </div>
      

    </div>
  </main>
{% endblock %}